.App {
  text-align: center;
}
.Calendar {
  margin: 0 5%;
  .rbc-month-view {
    min-height: 75vh;
    .rbc-month-header {
      .rbc-header {
        padding: 8px 0;
      }
    }
  }
  .rbc-date-cell {
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
  }
  .rbc-now {
    font-weight: normal;
  }
  .rbc-time-header-cell {
    min-height: auto;
    .rbc-header {
      padding: 8px 0;
    }
  }
  .rbc-current-time-indicator {
    background-color: #fa5550;
  }
}
.month-lunar-day {
  float: left;
}

.month-today {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  background: #fa5550;
  color: white;
  margin-right: -1px;
}
.week-header-day {
  display: inline-block;
  margin-right: 10px;
}
.week-header-today {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  background: #fa5550;
  color: white;
}
